.CountDisplay {
	width: 20%;
	height: 20px;
	padding: 5px;
	padding-top: 6px;
	margin: 0px auto;
	margin-top: 6px;
	margin-bottom: 6px;
	text-align: center;
	font-size: 20px;
	color: rgba(90, 175, 98, 1);
}
