body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header {
  position: relative;
  height: auto;
}

header h1 {
  position: relative;
	width: 100%;
	font-size: 60px;
	text-align: center;
	color: rgba(175, 90, 90, 0.8);
	-webkit-text-rendering: optimizeLegibility;
	-moz-text-rendering: optimizeLegibility;
	text-rendering: optimizeLegibility;
}
